In [1]:
# pasting the previous video of people dictionary data

people = {
    "first": ['srinu','sow','abc'],
    "last" : ['balireddy','yalla','abc'],
    "email": ['abc@abc.com','kbc@kbc.com','abc@abc.com']
}

import pandas as pd
df = pd.DataFrame(people)
df

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com
2    abc        abc  abc@abc.com

In [3]:
# if we want to sort the df with last name, we can use sort_values method

df.sort_values(by='last' , ascending= False) # descending order

   first       last        email
1    sow      yalla  kbc@kbc.com
0  srinu  balireddy  abc@abc.com
2    abc        abc  abc@abc.com

In [6]:
# to sort multiple columns

df.sort_values(by=['last','first'], ascending = False)

# this will sort first on the last name and then the first name in descending order

   first       last        email
1    sow      yalla  kbc@kbc.com
0  srinu  balireddy  abc@abc.com
2    abc        abc  abc@abc.com

In [7]:
# to sort last name in descending and first name in ascending order

df.sort_values(by=['last','first'], ascending=[False, True])

   first       last        email
1    sow      yalla  kbc@kbc.com
0  srinu  balireddy  abc@abc.com
2    abc        abc  abc@abc.com

In [9]:
# to set this sort permanent we need to set inplace= True

df.sort_values(by=['last','first'], ascending=[False, True], inplace=True)
df

   first       last        email
1    sow      yalla  kbc@kbc.com
0  srinu  balireddy  abc@abc.com
2    abc        abc  abc@abc.com

In [10]:
# to revert back the sort values and retain the initial index values
# we can sort using the index of the df

df.sort_index()

   first       last        email
0  srinu  balireddy  abc@abc.com
1    sow      yalla  kbc@kbc.com
2    abc        abc  abc@abc.com

In [11]:
# to sort a single column

df['last'].sort_values()

2          abc
0    balireddy
1        yalla
Name: last, dtype: object

In [14]:
# now lets go back to stackover flow dataset and manipulate the data using pandas.
# just consolidate the csv file reading code 


import pandas as pd
df        = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')

pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 5)

In [16]:
# sort the df by country name

df.sort_values(by='Country', inplace=True)

In [18]:
df['Country'].head(50)

39018    Afghanistan
62723    Afghanistan
            ...
33177        Albania
6688         Albania
Name: Country, Length: 50, dtype: object

In [20]:
# to check the salary and the country

df.sort_values(by=['Country','ConvertedComp'], ascending=[True, False], inplace=True)

In [21]:
df[['Country','ConvertedComp']]

           Country  ConvertedComp
62723  Afghanistan      1000000.0
50172  Afghanistan       153216.0
...            ...            ...
88880          NaN            NaN
88881          NaN            NaN

[88883 rows x 2 columns]

In [23]:
# finding the largest and smallest values 
# if we want to see the 10 highest salary - nlargest() method

df['ConvertedComp'].nlargest()

25833    2000000.0
87353    2000000.0
21895    2000000.0
28080    2000000.0
72274    2000000.0
Name: ConvertedComp, dtype: float64

In [26]:
# in the above only the convertedComp is displayed, if we want to see the other columns as well

df.nlargest(10, 'ConvertedComp')  # first argument  is the no. of rows, second is column name

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
25833,25983,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87353,87896,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,32.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75088,75561,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Singapore,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
32056,32250,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Switzerland,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [27]:
# if we want to see the 10 highest salary - nsmallest() method

df['ConvertedComp'].nsmallest()

28470    0.0
719      0.0
13760    0.0
40655    0.0
30447    0.0
Name: ConvertedComp, dtype: float64

In [28]:
# to display other columns

df.nsmallest(10, 'ConvertedComp')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
28470,28638,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Afghanistan,NaN,"Other doctoral degree (Ph.D, Ed.D., etc.)",I never declared a major,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,NaN
719,722,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29184,29355,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Bosnia and Herzegovina,"Yes, part-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,NaN,No,NaN,NaN,NaN,Too long,Easy
1678,1685,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Brazil,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Neither easy nor difficult